{% assign weddings = site.landing | where: "slug", "weddings" | first %}
<article id="{{ weddings.slug }}">
  <h5>
    {% include {{ weddings.icon }} %}
    {{ weddings.title | escape }}
  </h5>
  <h2>{{ weddings.heading }}</h2>
  <section class="weddings-gallery">
    <img src="{{ weddings.images[0].image | relative_url }}" alt="{{ weddings.images[0].alt }}" loading="lazy" width="{{ weddings.images[0].width }}" height="{{ weddings.images[0].height }}">
    <img src="{{ weddings.images[1].image | relative_url }}" alt="{{ weddings.images[1].alt }}" loading="lazy" width="{{ weddings.images[1].width }}" height="{{ weddings.images[1].height }}">
    <img src="{{ weddings.images[2].image | relative_url }}" alt="{{ weddings.images[2].alt }}" loading="lazy" width="{{ weddings.images[2].width }}" height="{{ weddings.images[2].height }}">
  </section>
  <section class="footer">
    <h6>{{ weddings.description | escape }}</h6>
    <a href="{{ weddings.link.url }}" class="btn btn-primary">{{ weddings.link.text }}</a>
  </section>
</article>
